@using global::Shared.DAO
@using Blazor.Components
@using Blazor.Services.Http
@using System.Security.Claims
@inject ITransactionService transactionService

<!-- Maybe have a search bar over here, to look for some transactions made to/from a specific person/merchant -->

<div class="content">
    
    <div class="card">
        <div class="search-bar">
            <input type="text" placeholder="Looking for a transaction" class="s">
        </div>
        
        <div class="transactions-list">
            @* @foreach( var transaction in transactions) *@
            @* { *@
            @*     <Transaction Recipient="@transaction.RecipientAccountNumber" *@
            @*                  Sender="@transaction.SenderAccountNumber" *@
            @*                  Message="@transaction.Message" *@
            @*                  Amount="@transaction.Amount" *@
            @*                  Date="@transaction.Date"></Transaction> *@
            @* } *@
        </div>
    </div>
</div>


@code {
    [Parameter] public string email { get; set; }
    public List<TransactionDao>? transactions; 

    
    //add the code to request the list
    private async Task RequestInformation()
    {
        transactions = await GetTransactions(email);
    }

    private async Task<List<TransactionDao>> GetTransactions(string email)
    {


        return await transactionService.GetTransactions(email);

    }


    protected override async Task OnInitializedAsync()
    {
        await RequestInformation();
    }
}